.test-color-functions {
  color: gray(127);
  color: color(#FF4136 blue(+ 30));
  color: color(color(#2ECC40 hue(10%)) blue(+30));
}

.aqua {
  color: #7FDBFF;
  background: linear-gradient(#7FDBFF, #FFFFFF 50%, #7FDBFF);
  font-family: 'aqua font', aqua, aqua-font;
}

.black {
  color: #111111;
  background: linear-gradient(#111111, #FFFFFF 50%, #111111);
  font-family: 'black font', black, black-font;
}

.blue {
  color: #0074D9;
  background: linear-gradient(#0074D9, #FFFFFF 50%, #0074D9);
  font-family: 'blue font', blue, blue-font;
}

.fuchsia {
  color: #F012BE;
  background: linear-gradient(#F012BE, #FFFFFF 50%, #F012BE);
  font-family: 'fuchsia font', fuchsia, fuchsia-font;
}

.gray {
  color: #AAAAAA;
  background: linear-gradient(#AAAAAA, #FFFFFF 50%, #AAAAAA);
  font-family: 'gray font', gray, gray-font;
}

.green {
  color: #2ECC40;
  background: linear-gradient(#2ECC40, #FFFFFF 50%, #2ECC40);
  font-family: 'green font', green, green-font;
}

.lime {
  color: #01FF70;
  background: linear-gradient(#01FF70, #FFFFFF 50%, #01FF70);
  font-family: 'lime font', lime, lime-font;
}

.maroon {
  color: #85144B;
  background: linear-gradient(#85144B, #FFFFFF 50%, #85144B);
  font-family: 'maroon font', maroon, maroon-font;
}

.navy {
  color: #001F3F;
  background: linear-gradient(#001F3F, #FFFFFF 50%, #001F3F);
  font-family: 'navy font', navy, navy-font;
}

.olive {
  color: #3D9970;
  background: linear-gradient(#3D9970, #FFFFFF 50%, #3D9970);
  font-family: 'olive font', olive, olive-font;
}

.orange {
  color: #FF851B;
  background: linear-gradient(#FF851B, #FFFFFF 50%, #FF851B);
  font-family: 'orange font', orange, orange-font;
}

.purple {
  color: #B10DC9;
  background: linear-gradient(#B10DC9, #FFFFFF 50%, #B10DC9);
  font-family: 'purple font', purple, purple-font;
}

.red {
  color: #FF4136;
  background: linear-gradient(#FF4136, #FFFFFF 50%, #FF4136);
  font-family: 'red font', red, red-font;
}

.silver {
  color: #DDDDDD;
  background: linear-gradient(#DDDDDD, #FFFFFF 50%, #DDDDDD);
  font-family: 'silver font', silver, silver-font;
}

.teal {
  color: #39CCCC;
  background: linear-gradient(#39CCCC, #FFFFFF 50%, #39CCCC);
  font-family: 'teal font', teal, teal-font;
}

.white {
  color: #FFFFFF;
  background: linear-gradient(#FFFFFF, #FFFFFF 50%, #FFFFFF);
  font-family: 'white font', white, white-font;
}

.yellow {
  color: #FFDC00;
  background: linear-gradient(#FFDC00, #FFFFFF 50%, #FFDC00);
  font-family: 'yellow font', yellow, yellow-font;
}
