.test-color-functions {
  color: gray(127);
  color: color(red blue(+ 30));
  color: color(color(green hue(10%)) blue(+30));
}

.aqua {
  color: aqua;
  background: linear-gradient(aqua, #FFFFFF 50%, aqua);
  font-family: 'aqua font', aqua, aqua-font;
}

.black {
  color: black;
  background: linear-gradient(black, #FFFFFF 50%, black);
  font-family: 'black font', black, black-font;
}

.blue {
  color: blue;
  background: linear-gradient(blue, #FFFFFF 50%, blue);
  font-family: 'blue font', blue, blue-font;
}

.fuchsia {
  color: fuchsia;
  background: linear-gradient(fuchsia, #FFFFFF 50%, fuchsia);
  font-family: 'fuchsia font', fuchsia, fuchsia-font;
}

.gray {
  color: gray;
  background: linear-gradient(gray, #FFFFFF 50%, gray);
  font-family: 'gray font', gray, gray-font;
}

.green {
  color: green;
  background: linear-gradient(green, #FFFFFF 50%, green);
  font-family: 'green font', green, green-font;
}

.lime {
  color: lime;
  background: linear-gradient(lime, #FFFFFF 50%, lime);
  font-family: 'lime font', lime, lime-font;
}

.maroon {
  color: maroon;
  background: linear-gradient(maroon, #FFFFFF 50%, maroon);
  font-family: 'maroon font', maroon, maroon-font;
}

.navy {
  color: navy;
  background: linear-gradient(navy, #FFFFFF 50%, navy);
  font-family: 'navy font', navy, navy-font;
}

.olive {
  color: olive;
  background: linear-gradient(olive, #FFFFFF 50%, olive);
  font-family: 'olive font', olive, olive-font;
}

.orange {
  color: orange;
  background: linear-gradient(orange, #FFFFFF 50%, orange);
  font-family: 'orange font', orange, orange-font;
}

.purple {
  color: purple;
  background: linear-gradient(purple, #FFFFFF 50%, purple);
  font-family: 'purple font', purple, purple-font;
}

.red {
  color: red;
  background: linear-gradient(red, #FFFFFF 50%, red);
  font-family: 'red font', red, red-font;
}

.silver {
  color: silver;
  background: linear-gradient(silver, #FFFFFF 50%, silver);
  font-family: 'silver font', silver, silver-font;
}

.teal {
  color: teal;
  background: linear-gradient(teal, #FFFFFF 50%, teal);
  font-family: 'teal font', teal, teal-font;
}

.white {
  color: white;
  background: linear-gradient(white, #FFFFFF 50%, white);
  font-family: 'white font', white, white-font;
}

.yellow {
  color: yellow;
  background: linear-gradient(yellow, #FFFFFF 50%, yellow);
  font-family: 'yellow font', yellow, yellow-font;
}
